@import "bootstrap-sprockets";
@import "bootstrap";

// change defaults to Materialize
@import "materialize/components/color";
@import "materialize";
@import "materialize/extras/nouislider";

@font-face {
  font-family: 'Overpass';
  src:font-url('Overpass-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#main {
  padding: 160px 0px 160px 0px;
  background-image: url(asset-path('main_bg.png'));
  background-repeat:no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -webkit-background-size: cover;
  box-shadow: none;
  margin: 0px;
}
